/* Header styling */
.header-search__image, .header-search__text {
  cursor: pointer; }
.header-search__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #777E8B; }
.header-link {
  font-size: 12px;
  line-height: 14px;
  color: #3C4658; }
  .header-link__image {
    margin-right: 10px; }
  .header-link__underline {
    text-decoration: underline; }

/* Nav styling */
.navbar {
  position: relative;
  z-index: 10;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1; }
  .navbar .nav-item + .nav-item {
    margin-left: 30px; }
  .navbar .nav-link {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #3C4658; }
    .navbar .nav-link:hover {
      color: orange !important; }
  .navbar .dropdown-item:hover {
    background-color: orange !important;
    color: #3C4658 !important; }

/* Carousel section styling */
.carousel-section {
  position: absolute;
  top: 375px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 30px 0 0; }
  .carousel-section .carousel {
    width: 100%;
    height: 450px; }
    .carousel-section .carousel-image {
      width: 100%;
      height: 450px; }

/* Main section styling */
.main-section {
  height: 450px;
  margin: 30px 0 0;
  padding-top: 80px; }
  .main-section__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .main-section__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .main-section__link {
    display: inline-block;
    width: 240px;
    padding: 16px 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #3C4658;
    transition: all .3s ease; }
    .main-section__link:hover {
      background-color: #FFF;
      color: #3C4658;
      text-decoration: none; }
  .main-section__link:nth-of-type(2) {
    margin-left: 20px; }

/* Advert section styling */
.advert-section {
  padding: 100px 0; }
  .advert-section__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .advert-section__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #777E8B; }

/* Services section styling */
.service-section {
  padding: 60px 0;
  background-color: #F4F7FA; }
  .service-section .service-item {
    height: 355px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #DFE1E3;
    transition: all 0.3s ease; }
    .service-section .service-item:hover {
      border: 1px solid black;
      box-shadow: 0px 0px 10px rgba(35, 71, 95, 0.15);
      transform: translateY(-20px); }
    .service-section .service-item__image {
      margin-bottom: 30px;
      text-align: center; }
    .service-section .service-item__title {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #3C4658; }
    .service-section .service-item .list-item {
      margin-top: 10px; }
    .service-section .service-item .list-link {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #3C4658;
      transition: all .3s ease; }
      .service-section .service-item .list-link:hover {
        text-decoration: none;
        color: #00C658; }

/* Calculation section styling */
.calculation-section {
  padding: 60px 0 100px; }

/* About section styling */
.about-section {
  padding: 60px 0;
  background-color: #F4F7FA; }
  .about-section__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .about-section__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .about-section__card {
    height: 225px;
    padding: 20px 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #DFE1E3;
    transition: all .3s ease; }
    .about-section__card:hover {
      border: 1px solid black;
      transform: translateY(-20px); }
    .about-section__card-image {
      margin-bottom: 20px; }
    .about-section__card-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #3C4658; }
    .about-section__card-text {
      font-weight: normal;
      font-size: 13px;
      line-height: 140%;
      color: #3C4658; }

/* Business section styling */
.business-section {
  padding: 60px 0; }
  .business-section__title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .business-section__text {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .business-section__card {
    padding: 30px;
    border: 1px solid #DFE1E3; }
    .business-section__card-image {
      margin-bottom: 20px; }
    .business-section__card-title {
      font-size: 16px;
      line-height: 19px;
      color: #3C4658; }
    .business-section__card .list-link {
      position: relative;
      padding-left: 30px;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #3C4658;
      transition: all .3s ease; }
      .business-section__card .list-link:hover {
        text-decoration: none;
        color: #00C658; }
      .business-section__card .list-link::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: #3C4658;
        border-radius: 50%; }
      .business-section__card .list-link::before:hover {
        background-color: #00C658; }
      .business-section__card .list-link::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 5px;
        height: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(35deg); }

/* Work section styling */
.work-section {
  padding: 60px 0;
  background-color: #F4F7FA; }
  .work-section__title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .work-section__text {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .work-section .work-section__cards {
    padding: 30px;
    background-color: #fff; }
    .work-section .work-section__cards .work-section__card {
      display: flex;
      padding: 25px 10px 30px; }
      .work-section .work-section__cards .work-section__card:hover {
        background-color: #DFE1E3; }
      .work-section .work-section__cards .work-section__card-image {
        margin-right: 40px; }
      .work-section .work-section__cards .work-section__card-title {
        font-size: 14px;
        line-height: 17px;
        color: #3C4658; }
      .work-section .work-section__cards .work-section__card-text {
        font-weight: normal;
        font-size: 13px;
        line-height: 140%;
        color: #3C4658; }
    .work-section .work-section__cards .work-section__card + .work-section__card {
      border-top: 1px solid #DFE1E3; }
  .work-section__description {
    margin: 60px 0;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    color: #3C4658; }
    .work-section__description span {
      color: #00C658; }
  .work-section__icons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .work-section__icons .work-section__icon {
      text-align: center; }
      .work-section__icons .work-section__icon-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #3C4658; }
    .work-section__icons .work-section__icon:nth-child(even) {
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #3C4658; }
  .work-section .work-section__link {
    width: 250px;
    margin: 60px auto 0;
    text-align: center; }
    .work-section .work-section__link-item {
      display: block;
      padding: 17px 50px;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      background-color: #5DC560;
      border: 2px solid #5DC560;
      color: #FFF;
      transition: all .3s ease; }
      .work-section .work-section__link-item:hover {
        text-decoration: none;
        background-color: #FFF;
        color: #5DC560; }

/* Info section styling */
.info-section {
  padding: 60px 0; }
  .info-section__title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .info-section__text {
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .info-section .list-item {
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #3C4658; }
    .info-section .list-item::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #00C658;
      border-radius: 50%; }
    .info-section .list-item::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 5px;
      height: 8px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(35deg); }
  .info-section .list-item + .list-item {
    margin-top: 20px; }
  .info-section__card {
    padding: 30px;
    border: 1px solid #DFE1E3; }
    .info-section__card-image {
      margin-bottom: 20px; }
    .info-section__card-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 19px;
      color: #3C4658; }
    .info-section__card-text {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 140%;
      color: #3C4658; }

/* Specialist section styling */
.specialist-section {
  padding: 60px 0;
  background-color: #F4F7FA; }
  .specialist-section__title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #23475F; }
  .specialist-section__text {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #3C4658; }
  .specialist-section__card {
    position: relative;
    min-height: 505px;
    padding: 20px 20px 40px;
    background-color: #FFF;
    border: 1px solid #DFE1E3;
    transition: all .3s ease; }
    .specialist-section__card:hover {
      z-index: 2;
      transform: scale(1.05); }
    .specialist-section__card-image {
      margin-bottom: 20px; }
    .specialist-section__card-title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      text-transform: uppercase;
      color: #3C4658; }
    .specialist-section__card-text {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 160%;
      color: #777E8B; }
  .specialist-section .specialist-section__link {
    width: 250px;
    margin: 30px auto 0;
    text-align: center; }
    .specialist-section .specialist-section__link-item {
      display: block;
      padding: 17px 50px;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      background-color: #5DC560;
      border: 2px solid #5DC560;
      color: #FFF;
      transition: all .3s ease; }
      .specialist-section .specialist-section__link-item:hover {
        text-decoration: none;
        background-color: #FFF;
        color: #5DC560; }

/* Footer styling */
.footer {
  min-height: 390px;
  background-image: url("../images/footer-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .footer-color {
    padding: 40px 15px;
    height: 100%;
    background-color: rgba(60, 70, 88, 0.7); }
    .footer-color .list-unstyled__item {
      margin-bottom: 20px; }
      .footer-color .list-unstyled__item .list-unstyled__item-text {
        margin-left: 5px;
        font-weight: bold;
        font-size: 13px;
        line-height: 17px;
        color: #FFF; }
    .footer-color .footer-campaign {
      font-weight: 600;
      font-size: 12px;
      line-height: 160%;
      color: #D2D7DE; }
    .footer-color .footer-title {
      position: relative;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 19px;
      color: #FFF;
      border-bottom: 1px solid #DFE1E3; }
      .footer-color .footer-title::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: #00C658; }
    .footer-color .footer-info {
      padding: 10px 0; }
      .footer-color .footer-info .footer-link {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #FFF;
        transition: all .3s ease; }
        .footer-color .footer-info .footer-link:hover {
          color: orange; }
      .footer-color .footer-info .footer-text {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        color: #FFFFFF; }
    .footer-color .footer-info + .footer-info {
      border-top: 1px solid #DFE1E3; }
    .footer-color .list-unstyled__item {
      margin-top: 20px; }
      .footer-color .list-unstyled__item .list-unstyled__item-link:hover {
        text-decoration: none;
        color: orange !important; }
      .footer-color .list-unstyled__item .list-unstyled__item-link .list-unstyled__item-link__text {
        margin-left: 10px;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        transition: all .3s ease; }
        .footer-color .list-unstyled__item .list-unstyled__item-link .list-unstyled__item-link__text:hover {
          color: orange; }
    .footer-color .footer-pdf__link {
      display: block;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #FFF;
      transition: all .3s ease; }
      .footer-color .footer-pdf__link:hover {
        color: orange; }

/* Responsive styling */
@media only screen and (max-width: 991.98px) {
  .header {
    display: none; } }
@media only screen and (max-width: 1199.98px) {
  nav {
    margin-bottom: 500px; }

  .main-section {
    display: none; } }
@media only screen and (max-width: 767.98px) {
  .footer .col-sm-6 + .col-sm-6 {
    display: none; } }

/*# sourceMappingURL=main.css.map */
